.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.parking-lot {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  background-color: rgb(226, 226, 226);
}

.parking-row {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: fit-content;
}

.parking-spot {
  display: flex;
  height: 40px;
  width: 40px;
  margin: 5px;
  border-radius: 2px;
  background-color: rgb(140, 255, 188);
}
